# http://editorconfig.org
# webstorm 直接支持
#vs code 需要安装插件 EditorConfig for VS Code
# nodepad++ 需要安装相应的插件
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 80
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = off
